node_modules/
package-lock.json
yarn.lock

.DS_Store
.cache
.env
.env.local
.vercel
.output/
.nitro/
dist/
build/
/apps/web/api/
/apps/web/server/build/
/apps/web/public/build/
# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.tanstack/
.claude/
